.hellomain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: black;
}

.imgLogo {
    width: 400px;
    height: 400px;
}

.ch1 {
    color: skyblue;
}